<div infinite-scroll
     [infiniteScrollDistance]="0"
     (scrolled)="onScrollDown()" >
  <input type="text"
         placeholder="Search Entries and Titles"
         [ngModel]="search_text"
         (ngModelChange)='changed($event)'>
	<div *ngFor='let dream of dreams'
        class="journal-entry row">
  	<p>{{ dream.date }}</p>
    <p class="dream-title">{{ dream.title }}</p>
    <p class="dream-text">{{ dream.entry }}</p>
    <p  *ngIf="dream.message">The universe responded:</p>
    <p class="dream-response">{{ dream.message }}</p>
  </div>
</div>
