{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <script type="text/javascript">
        const ANGULAR_PARAMS = {{ ANGULAR_PARAMS|safe }};
        const ANGULAR_PATH = "{{ ANGULAR_PATH }}";
        const CSRF = "{{ csrf_token }}";
        const config = {
            APP_NAME: 'dreamail',
            API_PATH: '/api/',
            API_ENDPOINTS: {
                'dreams': 'dreams/'
            },
            PATHS: {
                HOME: 'home',
                DREAMS: 'dreams',
            }
        }
    </script>

    <app></app>

  <script type="text/javascript" src="{% static 'vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'base.js' %}"></script>
  <script>require('main');</script>

{% endblock content %}
