{% load staticfiles %}
<html>
	<head>
		<title>
			DreaMail
		</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
		<style type="text/css">
					@font-face {
					font-family: 'DS_Mysticora';
					src:local('DS_Mysticora'),
									url({% static 'DS_Mysticora.ttf' %}) format('truetype');
					}
		</style>
  </head>
	<body lang="en">
		{% if user.is_authenticated %}
					{% block content %}{% endblock content %}
		{% else %}
		    <p>Welcome, new user. Please <a href="{% url 'login' %}"> log in </a>.</p>
		{% endif %}
	</body>
</html>